table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}


.a_box{
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: inline-block;

}

.color_box {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: inline-block;

}

#color_swatch{
  margin-top: 20px;
}