/*font-family: 'Roboto Slab', serif;*/

body{
  font-family: 'Roboto Slab', serif;
}

#color_container{
  width: 275px;
  height: 700px;
  float: left;
  border: 1px solid black;
}


#grid_outer_box{
  display: inline-flex;
  height: 700px;
  width: 700px;
  border: 1px solid black;
  margin: auto;
}

#gridtofill{
  height: 550px;
  width: 575px;
  margin: auto
}

#gridInput1{
  width: 25px;
}

#gridInput2{
  width: 25px;
}

#gridGeneratorButton{
  display: inherit;
}

.a_box{
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: inline-block;

}

.color_box {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: inline-block;

}

#color_swatch{
  margin-top: 20px;
}